.boardbar {
  position: relative;
  width: 100%;
}

.boardshadow {
  /* position: absolute; */
  bottom: 5px;
  margin: 0;
  padding: 0;
  /* margin: 1.5px; */
  width: 100%;
  border-bottom: 9px solid rgba(255, 255, 255, 0.41);
}

.boardline {
  width: 100%;
  display: inline-block;
  background-color: #fff;
  text-align: center;
}

.boardline img {
  padding: 1.5% 1.8%;
  /* text-align: justify; */
  width: 5.6%;
  transform: scale(0);
  transform: rotate(0);
  /*animation: dance 2s infinite;*/
  transition: transform .3s ease;
}
.boardline img:hover {
  transform: scale(1.1) rotate(-10deg);
}
