@media screen and (min-width: 300px) and (max-width: 375px) {

  body .content {
    width: 100%;
    margin: 0;
    position: relative;
  }

  header .subscribe {
    width: 50%;
  }

  nav.topbuttons  {
    height: 65px;
  }

  nav .buttonshadow {
    width: 48%;
  }

  nav .button h3 {
    font-size: 14px;
  }

.slider.imageboxshadow {
  width: 100%;
}

.slider .imagebox {
  height: 175px;
}

img.logo {
  width: 50%;
  top: 47px;
}

.topimage img {
  width: 150%;
  height: 100%;
  top: 0px;
}

section .articleshadow {
  width: 100%;
  .article {
    min-height: 150px;
  }
  h2 {
    font-size: 14px;
  }
  span {
    font-size: 12px;
  }
  .poverflow {
    overflow: auto;
    width: 100%;
    height: 50px;
}
  h4 {
    bottom: 0%;
    font-size: 16px;
    left: 35%;
  }
}

.sk8profiles {
  margin-bottom: 5%;
  .wholearrow {
    display: none;
  }
  .colleft {
    width: 100%;
    .left1 {
      width: 95%;
      background-size: 170%;
      background-position-x: -197px;
      background-position-y: -20px;
      p:nth-child(1) {
        top: 56px;
        right: 105px;
      }
      p:nth-child(2) {
        top: 89px;
        right: 72px;
      }
    }
    .left2 {
      width: 95%;
      background-size: 148%;
      background-position-x: -81px;
      background-position-y: -20px;
      p:nth-child(1) {
      top: 55px;
      right: 101px;
      }
      p:nth-child(2) {
      top: 89px;
      right: 105px;
      }
    }
    .left3 {
      width: 95%;
      background-size: 148%;
      background-position-x: -448px;
     background-position-y: -141px;
    }
    p {
      text-align: center;
      top: 68px;
      right: 17px;
    }

  }

  div.colright {
    width: 95%;
    min-height: 200px;
    background-size: 268%;
    background-position-x: -472px;
    background-position-y: -168px;
    p:nth-child(1) {
    top: 67px;
    right: 121px;
    }
    p:nth-child(2) {
    top: 101px;
    right: 84px;
    }
  }
}

.boardline img {
  width: 13.6%;
}

.footerbox {
  .footercol1 {
    width: 100%;
  }

  .footercol2 {
    margin-top: 9%;
    width: 100%;
  }
}

}
